h1{margin: 0.5em 0;}

#cart-table{
	width:100%;
}

.plus, .minus{
	width: 1.5em;
	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
  	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;
}

#cart-table .quantity{
	width: 2em;
    line-height: 1.9em;
    text-align:center;
    position: relative;
    top: -1px;
    padding-left: 0px;
    padding-right: 0px;
}

#cart-table th:first-of-type{width:35%;}
#cart-table th:nth-child(2){width:20%;}

#cart-table input{background-color:white;}

.empty-cart{color:black;}

#cart-table .subtotal-row td{
	border:none;
	padding-top: 0.5em;
}
.subtotal{
	color:black;
	font-size:15pt;
}

.checkout-wrapper{
	text-align: right;
    margin-top: 3em;
}

