h1{margin: 0.5em 0;}

#cart-table .quantity{
	width: 2em;
    line-height: 1.9em;
    text-align:center;
    position: relative;
    top: -1px;
    padding-left: 0px;
    padding-right: 0px;
}

.plus, .minus{
	width: 1.5em;
}

#cart-table th:first-of-type{width:35%;}
#cart-table th:nth-child(2){width:20%;}
#cart-table td {padding:0;}
#cart-table input{background-color:white;}

.empty-cart{color:black;}

#cart-table .subtotal-row td{
	border:none;
	padding-top: 0.5em;
}
.subtotal{
	color:black;
	font-size:15pt;
}

.checkout-wrapper{
	text-align: right;
    margin-top: 3em;
}

