body{
	font-family: Arial, Sans-Serif;
	padding:0px;
	margin:0px;
	position:relative;
	/*background-image: url("../Images/bkg_small.png");*/
}

a{text-decoration: none; cursor:pointer;}
h1{
	color:black;
	margin:0px;
	line-height:1em;
}

input[type='text'], textarea{
	background-color: rgb(220,220,220);
    border: none;
    border-radius: 3px;
    font-size: 12pt;
    font-weight: 100;
    padding: 6px 8px;
}

.title{
	color: rgb(222,167,57);
    font-weight: bold;
}

.center-main{
	width:85%;
	margin:auto;
	clear:both;
}

#column1, #column2{
	display: inline-block;
    vertical-align: top;
    margin-top: 0.5em;
}

.primary-button{
	display:inline-block;
	color:black;
	background-color:rgb(222,167,57);
	text-align:center;
	cursor:pointer;
	padding:1em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;
}
.primary-button:hover{
	outline:2px solid black;
}

.secondary-button{
	display: inline-block;
    color: rgb(222,167,57);
    border: 1px solid rgb(222,167,57);
    border-radius:3px;
    padding: 0.2em 0.5em;
    text-align: center;
    font-size: 12pt;
    cursor: pointer;
}

.secondary-button:hover{
	border-color:black;
	color:black;
}


/************************* Navbar ***********************/
.navbar{
	margin-top:2em;
}

.navbar .header{
	font-size: 2em;
    font-weight: bold;
    line-height: 0.5em;
    letter-spacing: 0.2em;
	color:black;
	height:2.5em;
	border: 2px solid rgb(222,167,57);
}

.navbar .header p {margin-left: 0.5em; display:inline-block;}

.navbar .logo{
	height: 2em;
	width: 4em;
	float: right;
	background-image: url("../Images/Logo.png");
	background-size: contain;
	background-repeat: no-repeat;
    margin: 0.25em 0.5em;
}

.nav-links{
	
}
.navbar a{
	padding: 1em 1.5em 0.1em 1.5em;
    margin: -2px -2px 0 0;
    color: rgb(222,167,57);
    font-weight: bold;
    display: inline-block;
}
.nav-links a:hover{
	color:black;
}

.navbar a.cart-icon{
	padding: 0;
    margin: 0.5em 1em 0 0;
    /*float: right; THIS IS FOR WHEN WE HAVE A PRODUCT PAGE
    width: 3%;
    height: 2em;*/
    display: inline-block;
    background-image: url("../Images/cart_yellow.png");
    background-size: contain;
    background-repeat: no-repeat;
    
    /*TEMPORARY FOR HIDING PRODUCTS LINK*/
    width: 2.5%;
    height: 1.3em;
    margin-left: 1em;
    position: relative;
    top: 3px;
}

.navbar a.cart-icon:hover{
	background-image: url("../Images/cart_black.png");
}


/*********************** Footer Bar *********************/
.footer-wrapper{
	position:absolute;
	bottom:1em;
	width:100%;
	text-align:center;
}

.footer{
	color:black;
	border: 2px solid rgb(222,167,57);
	text-align:center;
	height:2.2em;
	font-size:11pt;
	font-weight: bold;
}
.footer p{
	padding-top: 0.1em;
    line-height: 0;
}

.footer-filler{height:5em;}

/***************************** Form Tables ********************/

table.form-table{
	width:100%;
	padding:0px;
	margin:0px;	
}

table.form-table tr td{
	padding:0 1em 0 0;
}

table.form-table tr td:last-of-type{
	padding-right:0;
}

table.form-table tr:nth-child(even) td{
	padding-bottom:1em;
}


/***************************** Data Tables ********************/
table.data-table{
	border-collapse:collapse;
}

table.data-table tr:nth-child(1){
	text-align: left;
    background-color: rgb(220,220,220);
}

table.data-table th{
	padding:5px 0px;
	font-weight:normal;
}

table.data-table th:nth-child(1){
	padding-left:1%;
}

table.data-table td {
    border-bottom: 1px solid rgb(220,220,220);
}





