h1{
	margin-top:1em;
}

h2 {
    margin-top: 2em;
    margin-bottom: 0;
}

p{line-height:0.5em;}

#order-table{
	width:100%;
	margin-top:1em;
}
#order-table td{
	padding:0.5em;
}
#order-table tr td:first-of-type{
	width:3em;
}

#column1, #column2{width:48%;}
#column2 h2:first-of-type{margin-top:0;}
#shipment-table{margin-bottom:2em;}

#column2 table tr td {
    padding: 0.1em 1em 0.1em 0;
}