<tr rel="[id]">
	<td>[id]</td>
	<td class="name" rel="[name]">[name]</td>
	<td>
		$ <input type="text" maxlength="6" class="price" value="[price]">
	</td>
	<td>
		<div class="secondary-button minus">-</div>
		<input type="text" maxlength="3" class="quantity" value="[quantity]">
		<div class="secondary-button plus">+</div>
	</td>
	<td><input type="checkbox" name="enable" class="enable" [enabled]></td>
	<td><div class="secondary-button save" rel="[id]">Save</div></td>
	<td style="display:none;" class="productId" rel="[productid]"></td>
	<td style="display:none;" class="locationId" rel="[locationid]"></td>
	<td style="display:none;" class="description" rel="[description]"></td>
	<td style="display:none;" class="epParcelId" rel="[epparcelid]"></td>
</tr>